.home {
    width: 100%;
    height: 75vh;
    background-color:#502d87;
    margin-top: 0%;
    padding: 0;
    color: ivory;
}



.home h6 {
    margin-left: 150px;
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 5px;  
}

.home .homeDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.homeDiv div {
    width: 40%;
}

.home p {
    font-size: 20px;
    margin-left: 170px;
}

.home .descr {
    line-height: 22px;
    font-size: 20px;
}

.homeDiv img {
    position: absolute;
    width: 50%;
    height: 300px; 
    margin-left: 20px;
}





@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }
}